
<!doctype html>
<html>
  <body style="background-color:#000CCC;"></body>
  <head>
    <script type="text/JavaScript">
      <!-- 
         function AutoRefresh( t ) {
            setTimeout("location.reload(true);", t);
         }
      //-->
    </script>
  </head>

  <body onload="JavaScript:AutoRefresh(1000);">
  <style>

  body {
    background-image: url("https://mhvlug.org/sites/default/files/u13/new_paltz_campus_map.png");
    background-repeat: no-repeat;
    background-position:295px 182px;
  }
  </style>

  <table style="width:50%">

  <center>
  <font size="+3"b style = "color:#FFFFFF">ERSAD: Emergency Response System and Drone
  </font>  

  </p>
  <font b style ="color:#FFFFFF">
  To Satisfy Design Requirements for Senior Design 1 at SUNY New Paltz Fall 2017
  </p>
  Students: Christopher Brandt Ray Hall, Walter Roosa, Alicia Scott
  </br>
  Advisors: Dr. Chirakkal Easwaran, Michael Otis
  </p>
  </font>
  <font b style ="color:#FF0000">
  <font size ="+2"> <strong>
  {{ data }} 
  </p>
    <head>
    <center>
  <script type="text/javascript">
  window.onload = function(){
    var chart = new CanvasJS.Chart("chartContainer",
    {
      backgroundColor: "tranparent",
        data: [
                 {x: 10, y: 71};
                 {x: 10, y: 71},
              ]
    });

  chart.render();
  }

</html>

